#testing 

Checking if the results of a development phase are according to the presets of the phase input documents. Question: “Did we **realize the system correctly**?”